<mat-card *ngIf="weather">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Current Weather for {{weather.name}}</mat-card-title>
      <mat-card-subtitle>
        <div>Temperature: {{ weather.main.temp | number:'1.0-0'}} °C</div>
        <div>Humidity: {{ weather.main.humidity }}</div>
        <div>Weather: {{ weather.weather[0].description }}</div>
      </mat-card-subtitle>
      <img class="weather-icon" mat-card-sm-image appWeatherIcon [iconCode]="weather.weather[0].icon">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <app-weather-chart [chartData]="forecast"></app-weather-chart>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" *ngIf="mode === 'search'"
            [disabled]="Obj.keys(favoriteCities).includes(loadedCityName)"
            (click)="saveFavoriteCity.emit(loadedCityName)">Save to Fav</button>
    <button mat-raised-button color="primary" *ngIf="mode === 'favorites'"
            [disabled]=""
            (click)="removeFavoriteCity.emit()">Remove from Fav</button>
  </mat-card-actions>
</mat-card>
